@import './icon.scss';
html,body{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a{
  text-decoration: none;
}