 @import "./components/sidebar.scss";
 @import "./components/tags.scss";
 @import "./archive.scss";

 a {
   color: #333;
   text-decoration: none;
 }

 p {
   margin: 0px;
 }

 body {
   font-size: 14px;
   color: #333;
   padding: 50px 0;
 }

 .layout {
   max-width: 960px;
   width: 100%;
   margin: 0px auto;
   display: flex;
   animation: showContainer 0.5s ease;

   .sidebar {
     width: 230px;
     background: white;
     height: max-content;
   }

   .container {
     margin-left: 15px;
     flex: 1;
     height: max-content;
     box-shadow: #666 0 0 5px -2px;
     background: white;
     overflow-x: hidden;
   }
 }


 @keyframes showContainer {
   0% {
     opacity: 0;
     transform: translateX(60px);
   }

   100% {
     opacity: 1;
     transform: translateX(0px);
   }
 }