 * {
   margin: 0px;
   padding: 0px;
 }

 video {
   position: fixed;
   right: 0px;
   bottom: 0px;
   min-width: 100%;
   min-height: 100%;
   height: auto;
   width: auto;
   filter: blur(5px);
   //  -webkit-filter: grayscale(100%);
   //  filter: grayscale(100%);
   z-index: -99;
 }

 source {
   min-width: 100%;
   min-height: 100%;
   height: auto;
   width: auto;
 }