 @import "./index.scss";
 @import "./article-detail.scss";
 @import "./markdown.css";
 @import "./components/sidebar.scss";
 @import "./components/tags.scss";
 @import "./archive.scss";

 * {
   margin: 0px;
   padding: 0px;
   color: #333;
   text-decoration: none;
 }

 html {
   font-size: 14px;
   color: #333;
 }

 .layout {
   width: 960px;
   padding: 50px 0;
   margin: 0 auto;
   display: flex;

   .sidebar {
     width: 220px;
     background: white;
     height: max-content;
   }

   .container {
     flex: 1;
     height: max-content;
     width: fit-content;
     box-shadow: #666 0 0 5px -2px;
     background: white;
   }
 }


 .page-selector {
   margin: 20px auto;
   display: flex;
   justify-content: center;

   .selector-item {
     font-size: 12px;
     display: inline-block;
     padding: 3px 10px;
     background: #fff;
     margin: 0 4px;
     cursor: pointer;
     border: 1px solid #399;
     border-radius: 3px;
   }

   .selected {
     background: #399;
     color: #fff;
   }
 }

 //头部
 .header {
   background: #333;
   height: 50px;
   width: 100%;
   position: fixed;
   overflow: hidden;
   left: 0;
   top: 0;
   z-index: 99;

   .icon {
     display: block;
     background: url(../assert/menu.png);
     background-size: cover;
     width: 24px;
     height: 24px;
     margin: 13px 20px;
     cursor: pointer;
   }

   .nav {
     position: absolute;
     display: flex;
     height: 100%;
     width: 240px;
     top: 0;
     right: 30px;
   }

   .nav-item {
     flex: 1;
     color: white;
     list-style-type: none;
     line-height: 50px;
     text-align: center;
     transition: background 0.4s ease;
     cursor: pointer;

     &:hover {
       background: #666;
     }
   }
 }

 @keyframes showContainer {
   to {
     opacity: 1;
   }
 }