.tag-item {
  font-size: 12px;
  display: inline-block;
  padding: 2px 8px;
  background: #339999;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.tag-list {
  margin-top: 15px;
  font-size: 0;
}