.tag-page{
  overflow: hidden;
  .page-warp{
    max-width: 650px;
    margin:0 auto;
    padding: 50px 0;
  }
  .tag-list{
    margin-bottom: 50px;
  }
  .tag{
    display: inline-block;
    padding: 3px 15px;
    background: #0085a1;
    color: #fff;
    border-radius: 9em;
    margin-right: 20px;
    line-height: 28px;
    cursor: pointer;
  }
  .article-group{
    margin-bottom: 45px;
    padding-bottom: 45px;
    &:not(:last-child){
      border-bottom: 1px solid #ccc;
    }
  }
  .group-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #006699;
    i{
      margin-right: 5px;
    }
  }
  .article{
    padding: 5px 0;
    &:hover{
      cursor: pointer;
      &:hover{
        color:#3399bb;
        text-decoration: underline;
      }
    }
  }
}